
<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }


  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

 

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  .card svg.material-icons path {
    fill: #888;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    border-radius: 50px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 100px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 8px;
    width: 125px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    
  }

  a,
  a:visited,
  a:hover {
    color: #111111;
    text-decoration: none;
  }


  a:hover {
    color: #eceff1;
  }

  
  .gap{
    padding: 15px;
    }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
</style>

<!-- Toolbar -->
<div style="text-align:center"class="toolbar" role="banner">
  
  <p *ngIf="checkAdmin" >Welcome {{admin.displayName}} ..!    </p>

  <h2 style="color:white;">STUDENT MANAGEMENT SYSTEM</h2>

    <div class="card-container">
        <div *ngIf="checkAdmin" class="gap">
          <a  style="color:rgb(245, 245, 248);" routerLink="add-student" >ADD STUDENT</a>
        </div>
        <div *ngIf="checkAdmin" class="gap">
          <a  style="color:rgb(245, 245, 248);" routerLink="view-student" >VIEW STUDENT</a>
        </div>
        <div *ngIf="checkAdmin" class="gap">
          <a  style="color:rgb(245, 245, 248);" routerLink="add-course" >ADD COURSE</a>
        </div>
        <div *ngIf="checkAdmin" class="gap">
          <a  style="color:rgb(245, 245, 248);" routerLink="view-course" >VIEW COURSE</a>
        </div>
        <div *ngIf="!checkAdmin"  class="gap">
          <a  style="color:rgb(245, 245, 248);" (click) = "verifyAdmin()"   >LOGIN</a>
        </div>
        <div *ngIf="checkAdmin" (click) = "logout()" class="gap">
          <a  style="color:rgb(245, 245, 248);"  >LOGOUT</a>
        </div>
        
     </div>
    
    
</div> 


<div class="content" role="main">

<div class="form" *ngIf='!checkAdmin'>
  <h3 class="heading">ADMIN LOGIN</h3>
  <div >
    <div>
      <div class="form-group">
        <label for="username">Username</label>
        <input 
          type="text"
          class="input-data"
          placeholder="Email/Phone Number"
          id="username"
          required
          [(ngModel)]="adminData.username"
          name="username"
        />
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input
          class="input-data"
          id="password"
          placeholder="password"
          type="password"
          required
          [(ngModel)]="adminData.password"
          name="password"
        />
      </div>

      <button class="button-edit" (click)="verifyAdmin()" class="btn btn-success">Submit</button>
    </div>

    <div *ngIf="submitted">
      <h4>Enter username and Password !</h4>
    </div>
    <div *ngIf="notAdmin">
      <h4>Incorrect username or Password !</h4>
    </div>
  </div>
</div> 

 
</div> 



<router-outlet></router-outlet>
